@media (max-width: 768px) {
    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.center-card {
    margin: 0 auto; 
}
@media (max-width: 768px) {
    .mobile-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}